<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!--SEARCHbOS-->
        <shared-search-box 
        (searchEnter)="searchByCapital($event)"
        placeholder="Buscar Por capital"
        ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <!--TABLAD E RESULTADOS-->
        <hr>
        <shared-loading-spinner *ngIf="loadingPage"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>